---
import { SOCIAL_LINKS } from "../config";
---

<h2 class="text-sm text-zinc-400 mb-4">Elsewhere</h2>
<ul class="grid grid-cols-2 gap-x-4">
  <li class="col-span-1 sm:col-span-2">
    <p class="mb-0">
      <a rel="me" href={SOCIAL_LINKS.mastodon.link}
        >{SOCIAL_LINKS.mastodon.title}</a>
    </p>
    <p class="text-zinc-400">{SOCIAL_LINKS.mastodon.handle}</p>
  </li>
  <li class="col-span-1 sm:col-span-2">
    <p class="mb-0">
      <a href={SOCIAL_LINKS.github.link}>{SOCIAL_LINKS.github.title}</a>
    </p>
    <p class="text-zinc-400">{SOCIAL_LINKS.github.handle}</p>
  </li>
  <li class="col-span-1 sm:col-span-2">
    <p class="mb-0">
      <a href={SOCIAL_LINKS.twitter.link}>{SOCIAL_LINKS.twitter.title}</a>
    </p>
    <p class="text-zinc-400">{SOCIAL_LINKS.twitter.handle}</p>
  </li>
  <li class="col-span-1 sm:col-span-2">
    <p class="mb-0">
      <a href={SOCIAL_LINKS.linkedin.link}>{SOCIAL_LINKS.linkedin.title}</a>
    </p>
    <p class="text-zinc-400">{SOCIAL_LINKS.linkedin.handle}</p>
  </li>
</ul>
